* {
    background-color: rgb(245, 227, 227);
}

.playground-box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    line-height: 1.75;
    font-size: 3em;
    font-family: Menlo;
}

.playground-box-win{
    border: 2px solid red;
    color: red;
}